

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/reset/airoha,en7581-reset.h>
#include <dt-bindings/clock/en7523-clk.h>
/dts-v1/;

/ {
	compatible = "airoha,an7581";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		stdout-path = &uart1;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x20000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		atf-reserved-memory@80000000 {
			no-map;
			reg = <0x0 0x80000000 0x0 0x40000>;
		};
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};
				core1 {
					cpu = <&cpu1>;
				};
				core2 {
					cpu = <&cpu2>;
				};
				core3 {
					cpu = <&cpu3>;
				};
			};
		};

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0>;
			enable-method = "psci";
			clock-frequency = <80000000>;
			next-level-cache = <&L2_0>;
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x1>;
			enable-method = "psci";
			clock-frequency = <80000000>;
			next-level-cache = <&L2_0>;
		};

		cpu2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x2>;
			enable-method = "psci";
			clock-frequency = <80000000>;
			next-level-cache = <&L2_0>;
		};

		cpu3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x3>;
			enable-method = "psci";
			clock-frequency = <80000000>;
			next-level-cache = <&L2_0>;
		};

		L2_0: l2-cache0 {
			compatible = "cache";
		};
	};

	gic: interrupt-controller@09000000 {
		compatible = "arm,gic-v3";
		interrupt-controller;
		#interrupt-cells = <3>;
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x0 0x09000000 0x0 0x20000>,
			  <0x0 0x09080000 0x0 0x80000>;
		interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_LOW>;

		its: gic-its@09020000 {
			compatible = "arm,gic-v3-its";
			msi-controller;
			#msi-cell = <1>;
			reg = <0x0 0x090200000 0x0 0x20000>;
		};
	};


	timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <&gic>;
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>;
		clock-frequency = <25000000>;
	};

	pmu {
		compatible = "arm,cortex-a15-pmu";
		interrupts = <GIC_PPI 7 IRQ_TYPE_LEVEL_HIGH>;
	};

	uart1: serial@1fbf0000 {
		compatible = "ns16550";
		reg = <0x0 0x1fbf0000 0x0 0x30>;
		reg-io-width = <4>;
		reg-shift = <2>;
		interrupts = <GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH>;
		clock-frequency = <1843200>;
		bootph-all;
	};

	chip_scu: syscon@1fa20000 {
		compatible = "airoha,en7581-chip-scu", "syscon";
		reg = <0x0 0x1fa20000 0x0 0x388>;
	};

	scuclk: reset-controller@1fa20000 {
		compatible = "airoha,en7581-scu", "syscon";
		reg = <0x0 0x1fb00000 0x0 0x970>;
		#clock-cells = <1>;
		#reset-cells = <1>;

		scu_ssr: system-controller {
			compatible = "airoha,an7581-scu-ssr";
		};
	};

	eth: ethernet@1fb50000 {
		compatible = "airoha,en7581-eth";
		reg = <0 0x1fb50000 0 0x2600>,
			<0 0x1fb54000 0 0x2000>,
			<0 0x1fb56000 0 0x2000>;
		reg-names = "fe", "qdma0", "qdma1";

		resets = <&scuclk EN7581_FE_RST>,
			 <&scuclk EN7581_FE_PDMA_RST>,
			 <&scuclk EN7581_FE_QDMA_RST>,
			 <&scuclk EN7581_DUAL_HSI0_MAC_RST>,
			 <&scuclk EN7581_DUAL_HSI1_MAC_RST>,
			 <&scuclk EN7581_HSI_MAC_RST>,
			 <&scuclk EN7581_XFP_MAC_RST>;
		reset-names = "fe", "pdma", "qdma",
			      "hsi0-mac", "hsi1-mac", "hsi-mac",
			      "xfp-mac";
	};

	switch: switch@1fb58000 {
		compatible = "airoha,en7581-switch";
		reg = <0 0x1fb58000 0 0x8000>;
	};

	clk25m: oscillator {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
		clock-output-names = "clkxtal";
	};

	vmmc_3v3: regulator-vmmc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vmmc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	snfi: spi@1fa10000 {
		compatible = "airoha,en7581-snand";
		reg = <0x0 0x1fa10000 0x0 0x140>,
		      <0x0 0x1fa11000 0x0 0x600>;

		clocks = <&scuclk EN7523_CLK_SPI>;
		clock-names = "spi";

		#address-cells = <1>;
		#size-cells = <0>;

		spi_nand: nand@0 {
			compatible = "spi-nand";
			reg = <0>;
			spi-max-frequency = <50000000>;
			spi-tx-bus-width = <1>;
			spi-rx-bus-width = <2>;
		};
	};

	mmc0: mmc@1fa0e000 {
		compatible = "mediatek,mt7622-mmc";
		reg = <0x0 0x1fa0e000 0x0 0x1000>,
			<0x0 0x1fa0c000 0x0 0x60>;
		interrupts = <GIC_SPI 170 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&scuclk EN7581_CLK_EMMC>, <&clk25m>;
		clock-names = "source", "hclk";
		bus-width = <4>;
		max-frequency = <52000000>;
		vmmc-supply = <&vmmc_3v3>;
		disable-wp;
		cap-mmc-highspeed;
		non-removable;

		assigned-clocks = <&scuclk EN7581_CLK_EMMC>;
		assigned-clock-rates = <200000000>;
	};
};
